<h1 align="center"><%= @tape.name %></h1>

<% flash.each do |type,message| %>
<%= message %>
<% end %>

<table class="table">
  <tr>
    <th>Format</th>
    <th>Description</th>
    <th>Storage Location</th>
    <th>Checked Out?</th>
  </tr>
  <tr>
    <td><%= @tape.format.name %></td>
    <td><%= @tape.description %></td>
    <td><%= @tape.home.name %></td>
    <td>Checked out (to be added)</td>
  </tr>
</table>

<div align="center">
  <%= link_to "Checkout Tape", new_checkout_path(params: { tape_id: @tape.id }), class:"btn btn-sm btn-primary" %>
  <%= link_to "Edit Tape Info", edit_tape_path(@tape), class:"btn btn-sm btn-danger" %>
</div>

<table align="center">
 <% @qr.modules.each_index do |x| -%>
   <tr>
   <% @qr.modules.each_index do |y| -%>
    <% if @qr.dark?(x,y) -%>
    <td class="black"/>
    <% else -%>
    <td class="white"/>
    <% end -%>
   <% end -%>
   </tr>
 <% end -%>
</table>

<style type="text/css">
 table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
 }
 td {
   border-width: 0;
   border-style: none;
   border-color: #0000ff;
   border-collapse: collapse;
   padding: 0;
   margin: 0;
   width: 10px;
   height: 10px;
 }
 td.black { background-color: #000; }
 td.white { background-color: #fff; }
</style>