<header class="navbar navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Tapes", tapes_path %></li>
        <li><%= link_to "Formats", formats_path %></li>
        <li><%= link_to "Shows", shows_path %></li>
        <li><%= link_to "Locations", locations_path %></li>
      </ul>
    </nav>
  </div>
</header>